In [ ]:
Question1
Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.

In [1]:
def only_int(l):
    temp=[]
    for i in l:
        if type(i)==int:
            temp.append(i)
    return temp
only_int([1,2,"a",3,"b"])

[1, 2, 3]

In [ ]:
Question2
Given a list of numbers, create a function which returns the list but with each element's
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [2]:
def addindex(l):
    for i in range (0,len(l)):
        l[i]=i+l[i]
    return l 
addindex([0,0,0,0,0,0])

[0, 1, 2, 3, 4, 5]

In [ ]:
Question3
Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [3]:
def conevol(h,r):
    vol=(3.14159*r*r*h)/3
    vol=round(vol,2)
    return vol
conevol(15,6)

565.49

In [ ]:
Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220

In [4]:
def triangle(l):
    sum=0
    for i in range(0,l):
        for j in range(0,i+1):
            sum=sum+1
    return sum
triangle(215)

23220

In [ ]:
Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [5]:
def missing_num(l):
    d=[1,2,3,4,5,6,7,8,9,10]
    for i in d:
        if  (i not in l):
            return i
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5